/*****************************
******************************

	1. Generic................  imports and resets
	2. Elements...............  html, body, heading and paragraph, input, links, images
	3. Objects................  containers, layout
	4. Components.............  logo, navigation
	5. Utilities..............  island of misfit classes

******************************
*****************************
background-image: linear-gradient(-180deg, #00111F 0%, #00161E 64%, #00282B 100%);
/




/*****************************
******************************

	1. Generic................  imports and resets

******************************
*****************************/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:400,700');







/*****************************
******************************

	2. Elements...............  html, body, core elements

******************************
*****************************/

html, body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2 {
  font-family: 'Oswald', sans-serif;
}

h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: #FFEE00;
  }
}

input {
  // border-radius: 48px;
  // margin: 1em 0.5em;
  // padding: 1.5em 2.5em;
  // border: 2px solid;
  transition: 0.2s ease-in-out;
  background: rgba(0,0,0,0);
  padding: 1rem 0 0 1rem;
}

textarea {
  // border-radius: 48px;
  // margin: 1em 0.5em;
  // padding: 1.5em 2.5em;
  // border: 2px solid;
  transition: 0.2s ease-in-out;
  background: rgba(0,0,0,0);
  padding: 2rem 0 0 1rem;
}

button {
  background: rgba(255,255,255,0.1);
  border-radius: 48px;
}





/*****************************
******************************

  3. Objects................  containers, layout

******************************
*****************************/

.container {

}

.header__container {

}
.hero-padding {
  padding: 2rem 6rem;
  @media (min-width: 0px) and (max-width: 767px) {
    padding: 2rem;
  }
}
.sunrays {
  background-image: url('../../images/sunraysfromgod.png');

  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: top center;
}
.oceanbg {
  background: rgb(0,5,10);
  background: linear-gradient(360deg, rgba(0,5,10,1) 0%, rgba(0,49,98,1) 78%, rgba(0,101,157,1) 100%);
}



/*****************************
******************************

  4. Components..............   features blocks, forms, logo, navigation

******************************
*****************************/

$cta: #C7006A;
$cta-hover: #FFF;
$white: #ffffff;

$carlweathers: #D81159;
$warning: #f87526;
$danger: #fd3b37;
$disabled: #aeb8c0;
$white: #ffffff;

$box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
$box-shadow-hover: 0px 2px 3px 2px rgba(0,0,0,0.2);

$button-icon-padding: 1em;
$button-text-color: $white;

@mixin button-style($button-color) {
  border: 4px solid $button-color;
  background: $button-color;
}

.btn {
  border-radius: 48px;
  box-shadow: $box-shadow;
  color: $button-text-color;
  margin: 2em 0.5em;
  padding: 1.5em 2.5em;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-hover;
    border: 4px solid #F46D1F;
    color: #FFEE00;
  }

  &[disabled] {
    background-color: $disabled;
    border: 1px solid $disabled;
  }


  &--actionjackson {
    @include button-style($carlweathers);
    &--full {
      @include button-style($carlweathers);
      width: 100%;
    }
  }

  &--warning {
    @include button-style($warning);
  }

  &--danger {
    @include button-style($danger);
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    margin-right: 1em;
    @media (max-width: 767px) {
      font-size: 1.125em;
    }
  }

  &__text + &__icon,
  &__icon + &__text {
    margin-left: 0.6em;
  }

  &__icon {
    position: relative;
    bottom: 2px;

    &--spinner {
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}

.nav__main {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
  li {
    // flex: 0 0 auto;
    list-style-type: none;
  }
  @media (min-width: 0px) and (max-width: 767px) {
    padding-inline-start: 0px;
    margin-block-end: 0px;
    li {
      padding: 1em 0 0 0;
    }
  }

  li:nth-child(1) { /*logo*/
  	margin-right: auto; /*applied only to the right*/
    @media (min-width: 0px) and (max-width: 767px) {
      margin-right: inherit;
    }
  }
  li.contact {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 2.5em;
    font-size: .85em;
    @media (min-width: 0px) and (max-width: 920px) {
    }
    @media (min-width: 0px) and (max-width: 767px) {
      padding-right: .75em;
      margin-right: auto;
      display: none;
    }
  }
  li.contact a {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    top: 2px;
    &:hover {
      color: #FFEE00;
    }
  }
  // li.contact a::before {
  //   content: url('../../images/icon-message-in-a-bottle.svg');
  //   padding:1em;
  //   position: relative;
  //   top: 8px;
  // }
  li:nth-child(1) {
  	/*margin-right: auto; applied only to the right*/
  }
}

.logo__main--background {
  background: url('../../images/logo-td.svg');
  background-repeat: no-repeat;
  background-position: top left;
  width: 300px;
  height: 40px;
  @media (min-width: 0px) and (max-width: 767px) {
    background: url('../../images/logo-td.svg');
    // background: url('../../images/logo-td-abbreviated.svg');
    background-repeat: no-repeat;
    background-position: top left;
    margin-right: auto;
    max-width: 100%;
    max-height: 2em;
  }
}

.logo__main {
  width: 200px;
  @media (min-width: 0px) and (max-width: 767px) {
    margin-right: auto;
    width: 200px;
  }
  @media (min-width: 0px) and (max-width: 462px) {
    margin-right: auto;
    width: 120px;
  }
}

.social-icons {
  padding-left: 0 !important;
  display: flex;
  li {
    display: inline;
    list-style-type: none;
    padding: 0 2em 0 0;
  }
  li:last-child {
    padding-right: 0;
  }
  @media (min-width: 0px) and (max-width: 767px) {
    li {
        padding: 0 .75em 0 .75em;
        margin-right: auto;
      }
    li:last-child {
        padding: 0 0 0 .75em;
        margin-right: auto;
      }
}
  img {
    width: 24px;
  }
}

.howdy__main {
  max-width: 100%;
  padding-top: 2em;
  @media (min-width: 0px) and (max-width: 767px) {

  }
  @media (min-width: 0px) and (max-width: 462px) {

  }
}

.item--contained {
  grid-column: container;
}

.project__grid--imageLeft {
  align-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(1fr);
  grid-template-areas: "image text";
  @media (max-width: 1200px) {
   grid-gap: 2rem;
  }
  @media (max-width: 900px) {
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap: 1rem;
   grid-template-areas: "image" "text";
  }
}

.project__grid--imageRight {
  align-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(1fr);
  grid-template-areas: "text image";
  @media (max-width: 1200px) {
   grid-gap: 2rem;
  }
  @media (max-width: 900px) {
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap: 1rem;
   grid-template-areas: "image" "text";
  }
}

.shottt-topaz {
  object-fit: cover;
  grid-area: image;
  width: 980px;
  justify-self: left;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.shottt-freshtix {
  object-fit: cover;
  grid-area: image;
  width: 660px;
  justify-self: right;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.shottt-robit {
  object-fit: cover;
  grid-area: image;
  width: 660px;
  justify-self: left;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.shottt-payscape {
  object-fit: cover;
  grid-area: image;
  width: 980px;
  justify-self: right;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.squidSilhouette {
  width: 800px;
  opacity: .35;
  position: relative;
  right: -200px;
}




/*****************************
******************************

  5. Utilities..............

******************************
*****************************/

.click-through {
  pointer-events:none;
}

.background-01 {
  background: url('../../images/background-01.png');
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  opacity: .75;
  background-size: contain !important;
}

.background--cliffs {
  // background-image: url('../../images/foreground-coral.png');
  // background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  // background-color: #666;
  // width: 100%;
  // background-size: cover !important;
  // height: 100%;
  // background-size: contain;
  // background-repeat: no-repeat;
  background-image:
    url('../../images/bg-cliff-left.png'),
    url('../../images/bg-cliff-right.png');
  background-position:
    bottom left,
    bottom right;
}

.text__link--yellow {
  color: #FFE000;
  text-decoration: none;
}

.text__link--yellow::after {
  color: #FFE000;
  text-decoration: none;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}



.shottt-freshtix {
  // max-width: 100%;
  // overflow-x: hidden;
  // @media (max-width: 900px) {
  //   max-width: 100%;
  // }
}

.shottt-robit {
  // max-width: 100%;
  // overflow-x: hidden;
  // @media (max-width: 900px) {
  //   max-width: 100%;
  // }
}

.shottt-payscape {
  // max-width: 100%;
  // overflow-x: hidden;
  // @media (max-width: 900px) {
  //   max-width: 100%;
  // }
}

.anglerFish {
  // background: url('../../images/angler-dark.png');
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: top left;
  width: 560px;
  height: 360px;
  // transition: 0.2s ease-in-out;
  // &:hover {
  //   background: url('../../images/angler-bright.png');
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   width: 560px;
  //   height: 360px;
  // }
}

.anglerFish img {
  position:absolute;
  left:0;
  max-width: 70%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  @media (max-width: 900px) {
    max-width: 90%;
  }
}
.anglerFish img.top {
  opacity:0;
}
.anglerFish img.top:hover {
  opacity:1;
}
